.img{
    width: 210px ;
    padding: 15px;
    border-radius: 20%;
    background-color: black;
}
.Card{
    width: 230px;
    padding: 30px;
    margin: 5px;
    font-size: 15px;
    background-color: rgb(159, 173, 253);
    border: 1px solid #e1e1e1;
    border-radius: 10px;
}
h2{
    color: black;
}

