.img{
    width: 220px ;
    padding: 10px;
    border-radius: 20%;
    background-color: black;
}
.Carta{
    width: 300px;
    padding: 35px;
    margin: 10px;
    font-size: 15px;
    background-color: rgb(159, 173, 253);
    border: 1px solid #e1e1e1;
    border-radius: 10px;
}
h2{
    color: black;
    font-size: 29px;
}

