:root{
  --background-color: #ffffff;
}

html {
  background-color: var(--background-color);
}
.App {
    position: relative;
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    z-index: 0;
    text-align: center;
    background-color: rgb(125, 184, 218);
  }